@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/custom/home/home.css" rel="stylesheet" />
<div class="hero">
    <h1>歡迎來到您的專屬助理</h1>
    <p>隨時隨地掌握生活細節，享受智能化的協助服務。</p>
    <button class="cta-button">了解更多</button>
</div>
<div class="features">
    <div class="feature-item">
        <h2>天氣預報</h2>
        <p>即時更新的氣象資訊，為您的日常做好準備。</p>
    </div>
    <div class="feature-item">
        <h2>日記功能</h2>
        <p>記錄生活點滴，保存美好回憶。</p>
    </div>
    <div class="feature-item">
        <h2>待辦事項</h2>
        <p>幫助您有效管理時間，提高效率。</p>
    </div>
</div>
